.nav-item{
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    font-size:small;
    background-color: white;
}

.nav-link{
    margin-right: 10px;
}

.pageNavbarHunter{
    display: flex;
    margin-left: 121px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 8px;
    border-style: solid;
    border-color: red;
}

.search{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

.icons{
    display: flex;
    padding: 10px;
}
